body {
  background-color: rgb(242, 245, 247);
}

.header {
  background-color: white;
  box-shadow: 1px 1px 10px -6px;
  border-radius: 5px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
}

h1,
h2,
h3 {
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  cursor: pointer;
}

.row {
  margin-top: 50px;
  padding-bottom: 3em;
  display: flex;
}

.column {
  width: 800px;
  margin-top: 6em;
}

.bouton {
  padding-bottom: 0px;
  padding-right: 130px;
}

.titre {
  padding-left: 0px;
}

h4 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  cursor: pointer;
}

.liste {
  background-color: white;
  box-shadow: 1px 1px 10px -6px;
  border-radius: 5px;
}

ul {
  list-style-image: url(/images/bullet.png);
  padding-left: 20px;
  padding-bottom: 20px;
}

.extension {
  border: none;
  color: black;
  font-size: 60%;
  cursor: pointer;
}

@media (max-width: 767px) {
  .row {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .bouton {
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 7em;
  }
}

@media (min-width: 550px) {
  .row {
    justify-content: center;
    align-items: center;
  }
}
